@import "./utils.scss";

.rosters-container {
  padding-top: 24px;
}

.selectBox {
  position: relative;
  cursor: pointer;
  background-color: white;
  width: 360px;
  height: 72px;
  border: 1px solid $gray-02;
  border-radius: 4px;
  color: $black;
  text-align: center;
  margin: 0 auto;
}

.selectBox .label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.selectBox .optionList {
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  background: white;
  color: $black;
  list-style-type: none;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  display: none;
}

.selectBox .optionListShow {
  position: absolute;
  padding: 0;
  margin: 0;
  right: -1px;
  top: 76px;
  width: 100%;
  background: white;
  color: $black;
  list-style-type: none;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  border: 1px solid $gray-02;
}

.selectBox.active .optionList {
  display: flex;
  flex-direction: column;
  max-height: 2000px;
}

.selectBox .optionItem:hover {
  background: $gray-02;
}

.selectBox .optionItem:last-child {
  border-bottom: 0 none;
}

.optionItem {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid $gray-02;
}

.optionItem > img {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.label > img {
  margin: 0 auto;
  width: 36px;
}

.label.active {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
