@import "./utils.scss";

.roster-container {
  margin-top: 24px;
}

.info-player {
  width: 100%;
  height: 24px;
  line-height: 24px;
  background: $mint;
  color: $white;
  border-radius: 4px;
}

.info-player div:nth-child(1) {
  padding-left: 52px;
  float: left;
  @include mobile {
    padding-left: 20px;
  }
}

.info-player div:nth-child(2) {
  float: left;
  width: 70px;
  text-align: center;
  padding-left: 148px;
  @include mobile {
    width: 60px;
    padding-left: 124px;
  }
}

.info-player div:nth-child(3) {
  float: left;
  width: 70px;
  padding-left: 50px;
  text-align: center;
  @include mobile {
    padding-left: 8px;
  }
}

.info-player div:nth-child(4) {
  float: left;
  width: 70px;
  padding-left: 66px;
  text-align: center;
  @include mobile {
    display: none;
  }
}
