@import "./utils.scss";

.standings-container {
  margin-top: 24px;
}

.info-name {
  width: 100%;
  height: 24px;
  line-height: 24px;
  background: $mint;
  color: $white;
  border-radius: 4px;
}

.info-name div:nth-child(1) {
  padding-left: 12px;
  float: left;
  @include mobile {
    padding-left: 4px;
  }
}

.info-name div:nth-child(2) {
  padding-left: 10px;
  float: left;
}

.info-name div:nth-child(3) {
  float: right;
  width: 70px;
  text-align: center;
  @include mobile {
    width: 40px;
    margin-right: 8px;
    margin-left: 8px;
  }
}

.info-name div:nth-child(4) {
  float: right;
  width: 70px;
  text-align: center;
  @include mobile {
    width: 54px;
    margin-left: 6px;
  }
}

.info-name div:nth-child(5) {
  float: right;
  width: 70px;
  text-align: center;
  @include mobile {
    width: 60px;
  }
}
